
body{
    background-color: #333;
    color: #ddd;
}
header{
    background-color: wheat;
    width: 100%;
    height: 100px;
}
details {
    width: 250px;
    margin: auto;
    border: 1px solid #666;
    border-radius: 4px;
    background-color: #3a3a3a;
    padding: 10px;
    margin-bottom: 10px;
}
summary {
    background-color: trasparent;
}

details[open] {
    border: 1px solid #ddd;
    background-color: #444;
}
a {
    color: white;
    text-decoration: none;
}
h1{
    color: black;
}

