:root {
    --color-principal: #0F2854;
    --color-secundario: #1C4D8D;
    --color-terciario: #4988C4;
    --color-cuarto: #BDE8F5;
}

header {
    width: 100%;
    height: 150px; /* ajusta la altura si la quieres más alta/baja */
        background-size: cover;        /* ocupa todo el header */
    background-position: center;   /* centra la parte visible de la imagen */
    background-repeat: no-repeat;
    background-color: var(--color-terciario);     /* color de respaldo si carga lento */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 150px;
    box-sizing: border-box;
    overflow: hidden;
    }

.Target{
    background-color: #BDE8F5;
    width: 22%;
    min-width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none; /* Quita subrayado */
    border-radius: 8px;
    transition: background 0.2s;
    cursor: pointer;
}

.Target1{
    color: #1C4D8D;               /* color del texto */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 1.2rem;
    pointer-events: none; /* Permite que el click funcione en el enlace */
    }

.DD {
    background-color: #BDE8F5;
    width: 22%;
    min-width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none; /* Quita subrayado */
    border-radius: 8px;
    transition: background 0.2s;
    cursor: pointer;
}
.Puntos {
    color: #1C4D8D;               /* color del texto */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 1.2rem;
    pointer-events: none; /* Permite que el click funcione en el enlace */
    }

.DD0 {
    background-color: #BDE8F5;    
    width: 22%;
    min-width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none; /* Quita subrayado */
    border-radius: 8px;
    transition: background 0.2s;
    cursor: pointer;
}
.Puntos0 {
    color:#1C4D8D;               /* color del texto */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 1.2rem;
    pointer-events: none; /* Permite que el click funcione en el enlace */
    }

    .DD1 {
    background-color: #BDE8F5;
    width: 22%;
    min-width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none; /* Quita subrayado */
    border-radius: 8px;
    transition: background 0.2s;
    cursor: pointer;
}
.Puntos1 {
    color: #1C4D8D;               /* color del texto */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 1.2rem;
    pointer-events: none; /* Permite que el click funcione en el enlace */
    }

    .DD2 {
    background-color: #BDE8F5;
    width: 22%;
    min-width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none; /* Quita subrayado */
    border-radius: 8px;
    transition: background 0.2s;
    cursor: pointer;
}
.Puntos2 {
    color: #1C4D8D;               /* color del texto */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 1.2rem;
    pointer-events: none; /* Permite que el click funcione en el enlace */
    }


body {
    background-color: var(--color-cuarto);
}

h1 {
    background: linear-gradient(to bottom, #0F2854, #1C4D8D);
    background-clip: text;    
    color: transparent; 
    display: flex;              
    justify-content: start;     
    align-items: start;        
    font-family: fantasy;       
    font-size: 60px;
}

table {
    max-width: 1250px;
    width: 100%;
    border-collapse: collapse; 
    font-family: Arial, sans-serif;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid var(--color-principal);
}

th {
    background-color: var(--color-principal);
    color: white;
}

td {
    background-color: var(--color-terciario);
}

.hora {
    font-weight: bold;
}

.patio {
    font-style: italic;
}

.titulos {
    color: #1C4D8D;            
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;             
    margin: 0;                   
    padding-left: 0px;
}

.footer {
    margin-top: auto;
    width: 100%;
    background: var(--color-terciario);
    color: var(--color-cuarto);
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer-title {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 2px;
}